name: CI
on:
  push:
jobs:
  pre_ci:
    uses: dtolnay/.github/.github/workflows/pre_ci.yml@master

  build-packages:
    strategy:
      fail-fast: false
      matrix:
        package:
          - packages.x86_64-linux.plasma-aero-theme
          - packages.x86_64-linux.plasma-aero-theme-unstable
          - packages.x86_64-linux.sandwine
          - packages.x86_64-linux.sandwine-unstable
          - nixosConfigurations.marie-desktop.config.system.build.kernel
          - nixosConfigurations.marie-desktop.config.system.build.initialRamdisk
    name: Build package ${{ matrix.package }}
    runs-on: ubuntu-latest
    needs: pre_ci
    if: needs.pre_ci.outputs.continue
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Install Lix
        uses: samueldr/lix-gha-installer-action@latest
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: uwumarie
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Cleanup disk space
        uses: samueldr/more-space-action@97048bd0df83fb05b5257887bdbaffc848887673
      - name: Build ${{ matrix.package }}
        run: |
          nix shell --inputs-from . \
            nixpkgs#nix-fast-build \
              -c \
                nix-fast-build \
                  --skip-cached \
                  --no-nom \
                  --flake '.#${{ matrix.package }}'
  eval:
    name: Evaluate flake
    runs-on: ubuntu-latest
    needs: pre_ci
    if: needs.pre_ci.outputs.continue
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Install Lix
        uses: samueldr/lix-gha-installer-action@latest
      - name: Cleanup disk space
        uses: samueldr/more-space-action@97048bd0df83fb05b5257887bdbaffc848887673
      - run: nix flake check
